@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.avatar-rafael{
    border-radius: 50%;
    border: 1px solid green;
    margin-bottom: 18px;
}


.column-information{
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

.column-information hr{
    border: none;
    padding: 10px;
    border-bottom: green solid 1px;
}

.column-information div{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    
}

.column-information ul{
    list-style: none;
    
}

.column-information li{
    margin: 10px 0;
}

.links-sessao i{
    color: green;
    margin-right: 10px;
    
}

.links-sessao a{
    color: white;
    text-decoration: none;
}

.links-sessao a:hover{
    color: green;
}

.column-information h3{
    margin-top: 20px;
}

.education{
    margin-top: 32px;
}

.education p{
    color: green;
}